<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Complaint Management</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="table-responsive">
    

      <mat-form-field class="w-100">
        <input matInput (keyup)="applyFilter()" [(ngModel)]="filterShearch"  placeholder="Filter">
      </mat-form-field>
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive">
        <!-- Position Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.typeRec}} </td>
        </ng-container>
      
    
  
  <ng-container matColumnDef="dateComplaint">
    <th mat-header-cell *matHeaderCellDef> Complaint  Date</th>
    <td mat-cell *matCellDef="let element"> {{element.dateComplaint}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> Lastname </th>
    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element">
      <span class="btn" [ngClass]="{
        'btn-warning': element.status == 'IN_PROGRESS',
        'btn-danger': element.status == 'DROPPED',
        'btn-success': element.status == 'TREATED',
      }">
        {{ element.status === 'IN_PROGRESS' ? 'En cours' : 
           element.status === 'TREATED' ? 'Traité' : 
           element.status === 'DROPPED' ? 'Abandonné' : 'Autre' }}
      </span>
       </td>
  </ng-container>
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef> Rating </th>
    <td mat-cell *matCellDef="let element"> 
      {{ element.note === 'VERY_SATISFIED' ? 'VERY SATISFIED' : 
      element.note === 'SATISFIED' ? 'SATISFIED' : 
      element.note === 'NEUTRAL' ? 'NEUTRAL' : 
      element.note === 'DROPPED' ? 'NOT_SATISFIED' : '----' }}

    </td>
  </ng-container>
  <ng-container matColumnDef="idComp">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"> 
      
      <button class="btn btn-danger" (click)="deleteComplaint(element.idComp)">Delete</button>
              
      <!-- Button trigger modal -->
        <button (click)=" initForm(element)" type="button" class="btn btn-primary" data-bs-toggle="modal"  [attr.data-bs-target]="'#Modal'+element.idComp" >
          Update
        </button>

        <!-- Modal -->
        <div class="modal fade modal-xl" [id]="'Modal'+element.idComp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="complaintForm" *ngIf="complaintForm" (ngSubmit)="saveComplaint()">
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control" formControlName="description"></textarea>
                  </div>
                
                  <div class="form-group">
                    <label for="dateComplaint">Date</label>
                    <input type="date" id="dateComplaint" class="form-control" formControlName="dateComplaint">
                  </div>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name">
                  </div>
                  <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" id="lastname" class="form-control" formControlName="lastname">
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" formControlName="email">
                  </div>
                  <div class="form-group">
                    <label for="status">Status</label>
                    <select id="status"  [(ngModel)]="status" class="form-control" formControlName="status">
                      <option value="IN_PROGRESS" selected>IN PROGRESS</option>
                      <option value="DROPPED">DROPPED</option>
                      <option value="TREATED">TREATED</option>
                      <!-- Add other status options if needed -->
                    </select>
                  </div>
                  <div *ngIf="status=='TREATED'">
                    <label for="msgRep">Message reponse</label>
                   <textarea id="message" class="form-control" formControlName="message"></textarea>

                  </div>

                  <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </form>
                
                
              </div>
        
            </div>
          </div>
        </div> </td>
  </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


    </div>
  </mat-card-content>
</mat-card>


