<div class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td colspan="7">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="dateDefence">Date of Defence</label>
                    <input type="date" class="form-control" id="dateDefence" [(ngModel)]="dateDefence" name="dateDefence" required>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="dateDefence">time of Defence</label>
                    <input type="text" class="form-control" id="dateDefence" [(ngModel)]="timeDefense" name="dateDefence" required disabled>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="numeroDeClasse">Class Number</label>
                    <input type="number" class="form-control" id="numeroDeClasse" [(ngModel)]="numeroDeClasse" name="numeroDeClasse" required disabled>
                 </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="numeroDeBloc">numeroDeBloc</label>
      <input type="text" class="form-control" id="numeroDeBloc" [(ngModel)]="numeroDeBloc" name="numeroDeBloc" required disabled>
      </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="selectedUserId">Student </label>
                    <select [(ngModel)]="selectedUserId" name="selectedUserId" class="form-control">
                        <option *ngFor="let user of userList" [value]="user.id">{{ user.id }}</option>
                    </select>
                </div>
                
                  
                
                
                
                </div>
                
                
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="nomDeJuret">Nom De Juret</label>
                    <input type="text" class="form-control" id="nomDeJuret" [(ngModel)]="nomDeJuret" name="nomDeJuret" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="nomDeEncafrent">Nom De Encafrent</label>
                    <input type="text" class="form-control" id="nomDeEncafrent" [(ngModel)]="nomDeEncadrent" name="nomDeEncafrent" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="remarque">Remarque</label>
                    <input type="text" class="form-control" id="remarque" [(ngModel)]="remarque" name="remarque" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-block" (click)="addDefense()">Add Defense</button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  