<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Task Management</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Description</th>
            <th>Progress</th>
            <th>Duration</th>
            <th>Supervisor</th>
            <th>Student</th>
            <th>File Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{ task.taskDescription }}</td>
            <td>{{ task.progress }}</td>
            <td>{{ task.duration }}</td>
            <td>{{ task.supervisor ? task.supervisor.name : 'n/a' }}</td>
            <td>{{ task.student ? task.student.name : 'n/a' }}</td>
            <td>{{ task.attachmentFileName }}</td>
            <td>
              <button class="btn btn-primary" (click)="downloadAttachment(task.id, task.attachmentFileName)">Download</button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteTask(task.id)">Delete</button>
            </td>
            <td>
              <button class="btn btn-primary" (click)="openUpdateDialog(task.id)">Update Task</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-primary" (click)="openAddDialog()">Add Task</button>
  </mat-card-content>
</mat-card>
