
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="path/to/chartjs/dist/chart.umd.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Time</th>
          <th> numeroDeBloc </th>
          <th>NumeroDeClasse</th>
          <th>NomDeJuret</th>
          <th>nomdeStudent</th>
          <th>NomDeEncadrent</th>
          <th>Remarque</th>
        </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let def of defences">
          <tr>
            <td>{{ def.idDef }}</td>
            <td>{{ def.dateDefense| date: 'shortDate' }}</td>            
            <td>{{ def.timeDefense }}</td>
            <td>{{ def.numeroDeBloc }}</td>
            <td>{{ def.numeroDeClasse }}</td>
            <td>ID:{{ def.nomDeJuret?.id }}<br>Nom:{{ def.nomDeJuret?.name }}</td>
            <td>ID:{{ def.UserStudent?.id }}<br>Nom:{{ def.UserStudent?.name }}</td>
            <td>{{ def.nomDeEncadrent }}</td>
            <td>{{ def.remarque }}</td>
            <!--   <td><button class="btn btn-danger" (click)="deleteDefence(def.idDef)">Delete</button></td>
            <td><button class="btn btn-primary" (click)="openUpdateDialog(def.idDef)">update </button></td>
          <button class="btn btn-primary" (click)="transferDefenses()">Transférer </button>

            defense.component.html

           <td>
{{ def.numeroDeBloc }}
<button   class="btn btn-primary" (click)="openCreateDialogMapslocation(def.numeroDeBloc)">Voir le trajet</button>
</td>
-->
          </tr>
          <td>
            {{ def.numeroDeBloc }}
           <button   class="btn btn-primary" (click)="openCreateDialogMapslocation(def.numeroDeBloc)">Voir le trajet</button>
          </td>
        </ng-container>
      </tbody>
    </table>

  </div>
  <mat-card class="cardWithShadow theme-card">
    <div id="map" ></div>
    </mat-card>