<div class="container">
  <div class="chat-container">
    <div class="chat-messages" id="chat-messages">
      <div *ngFor="let data of chats" [ngClass]="(data.sender.id === currentUserId) ? 'message sent':'message received'">
        <div class="message-content">
          <div class="sender">
            <p class="sender-name">{{ data.sender?.name }}</p>
          </div>
          <div class="message-text-container">
            <p class="message-text">{{ data.text }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-input" [formGroup]="chatForm">
      <textarea formControlName="message" id="message-input" placeholder="Type your message..."></textarea>
      <button (click)="add()" id="send-button">Send</button>
    </div>
  </div>
</div>
