body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
}

.chat-container {
  width: 900px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
textarea:focus {
  border-color: #007bff;
}
.chat-messages {
  height: 700px;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
  color: #fff;
}

.sent {
  background-color: #007bff;
  align-self: flex-end;
}

.received {
  background-color: #6c757d;
  align-self: flex-start;
}

.message p {
  margin: 0;
}

.timestamp {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #44a3f7;
}

textarea {
  flex: 1;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  resize: none;
  font-size: 14px;
  font-family: Arial, sans-serif; /* Ensure consistent font-family */
}

button {
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.chatname{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 20px;
}
