<title>Chat Interface</title>
<body>

<div class="container">
  <div class="chat-container">
    <div class="chat-messages" id="chat-messages">
      <div *ngFor="let data of chats" [ngClass]="(data.sender.id === currentUserId) ? 'message sent':'message received'">
        <p>{{data.text}}</p>
        <span class="timestamp">12:30 PM</span>
      </div>
    </div>
    <div class="chat-input" [formGroup]="chatForm">
      <textarea formControlName="message" id="message-input" placeholder="Type your message..."></textarea>
      <button (click)="add()"  id="send-button">Send</button>
    </div>
  </div>
</div>

</body>
